<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
    <ul>
      <% @student.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>


  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>


  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>