<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listening Students</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Listening Students</h1>
<p><%=notice%></p>
<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Action</th>
            <th>Update</th>
            <th>Delete</th>


        </tr>
    </thead>
    <tbody>
        
        <%@students.each do |student|%>
          <tr>
            <td> <%= student.first_name%> </td>
            <td> <%= student.last_name%> </td>
            <td> <%= student.email%> </td>
            <td> <%= link_to 'View',student%> </td>
            <td><%= link_to 'Edit', edit_student_path(student)%></td>
            <td><%= button_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }%></td>
          </tr>  
        <%end%>
    </tbody>
</table>
<h1><%= link_to "Add Student", new_student_path %></h1>
</body>
</html>
